<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" [routerLink]="['/']">Recap</a>
        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a
                        class="nav-link active"
                        [routerLink]="['/']"
                        routerLinkActive="active"
                        [routerLinkActiveOptions]="{ exact: true }"
                        >Home</a
                    >
                </li>
                <li class="nav-item">
                    <a
                        class="nav-link"
                        [routerLink]="['/parent']"
                        routerLinkActive="active"
                        >@Input</a
                    >
                </li>
                <li class="nav-item">
                    <a
                        class="nav-link"
                        [routerLink]="['/itemsList']"
                        routerLinkActive="active"
                        >@Output</a
                    >
                </li>
                <li class="nav-item">
                    <a
                        class="nav-link"
                        [routerLink]="['/counter']"
                        routerLinkActive="active"
                        >@ViewChild</a
                    >
                </li>
            </ul>
        </div>
    </div>
</nav>
