<div class="container mt-5">
    <app-favorites class="sticky-top bg-white"></app-favorites>
    <div *ngIf="photos; else loadingTemplate" class="row mt-5">
        <div class="col-6" *ngFor="let photo of photos, let i = index">
            <div class="card">
                <img src="{{ photo.thumbnailUrl }}" alt="Foto nr {{ photo.id }}" />
                <div class="card-body">
                    <h5 class="card-title">
                        {{ photo.title }}
                    </h5>
                    <button type="button" class="btn btn-danger" (click)="delete(photo.id, i)">Elimina</button>
                    <button type="button" class="btn btn-success ms-3" (click)="add()">Mi piace</button>
                </div>
            </div>
        </div>
    </div>
    <ng-template #loadingTemplate>
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </ng-template>
</div>
